In [1]:
import pandas as pd

Create a Series object

In [4]:
ice_cream = ["Chocolate", "Vanilla", "Strawberry", "Run Raisin", "Ginger"]
pd.Series(ice_cream)

0     Chocolate
1       Vanilla
2    Strawberry
3    Run Raisin
4        Ginger
dtype: object

In [6]:
lottery = [4, 8, 10, 12, 14, 16]
pd.Series(lottery)

0     4
1     8
2    10
3    12
4    14
5    16
dtype: int64

In [7]:
registration = [True, False, True, True, False, True]
pd.Series(registration)

0     True
1    False
2     True
3     True
4    False
5     True
dtype: bool

Creating a Series from a Dictionary

In [8]:
sushi = {
    "Salmon" : "Orange",
    "Tuna" : "Red",
    "Eel" : "Brown"
}
pd.Series(sushi)

Salmon    Orange
Tuna         Red
Eel        Brown
dtype: object

In [9]:
countries = ["USA", "France", "Germany", "Italy"]
pd.Series(countries)

0        USA
1     France
2    Germany
3      Italy
dtype: object

Intro to Methods

In [11]:
"hello".upper()

'HELLO'

In [13]:
values = [1, 2, 3, 4]
values.append(5)
values

[1, 2, 3, 4, 5]

In [20]:
prices = (2.5, 77.2, 23.6, 6.8)
pd.Series(prices)

110.10000000000001

In [21]:
pd.Series(prices).sum()

110.10000000000001

In [28]:
pd.Series(prices).product()
pd.Series(prices).mean()

27.525000000000002

In [27]:
prices1 = pd.Series([2.5, 77.2, 23.6, 6.8])
prices1.sum()

110.10000000000001

ATTRIBUTES

In [37]:
adjectives = pd.Series(["good", "humble", "nice", "gentle", "Smart"])
adjectives

0      good
1    humble
2      nice
3    gentle
4     Smart
dtype: object

In [38]:
adjectives.size
adjectives.is_unique

True

In [40]:
adjectives.values

array(['good', 'humble', 'nice', 'gentle', 'Smart'], dtype=object)

In [41]:
type(adjectives.values)

numpy.ndarray

In [42]:
adjectives.index

RangeIndex(start=0, stop=5, step=1)

In [43]:
adjectives.is_monotonic

False

In [46]:
# Coding Exercise Solution: Attributes and Methods on a Series
import pandas as pd
 
# The Series below stores the number of home runs
# that a baseball player hit per game
home_runs = pd.Series([3, 4, 8, 2])
 
# Find the total number of home runs (i.e. the sum) and assign it
# to the total_home_runs variable below
total_home_runs = home_runs.sum()
 
# Find the average number of home runs and assign it
# to the average_home_runs variable below
average_home_runs = home_runs.mean()

17

PARAMETERS AND ARGUMENTS

In [ ]:
# Parameters The name we give to an expected input 
#Arguments a concrete value that we provide to a parameter

#Difficulty in a Video game: Easy, Medium, Hard
#Volume: 1 to 10
# Subtitles: Yes or No

In [51]:
fruits = ["Apple", "Orange", "Plum", "Grape", "Banana"]
weekdays = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"]
pd.Series(fruits, weekdays)
pd.Series(weekdays, fruits)

Apple        Monday
Orange      Tuesday
Plum      Wednesday
Grape      Thursday
Banana       Friday
dtype: object

In [52]:
pd.Series(data = weekdays, index = fruits)

Apple        Monday
Orange      Tuesday
Plum      Wednesday
Grape      Thursday
Banana       Friday
dtype: object

In [53]:
pd.Series(fruits)

0     Apple
1    Orange
2      Plum
3     Grape
4    Banana
dtype: object

In [ ]:
# Coding Exercise Solution: Parameters and Arguments
# If you see a test failure when checking your solution,
# note that [left] refers to YOUR code while [right]
# refers to the correct code that the computer is comparing
# to your work
 
# The code below defines a list of delicious foods
# and some dipping sauces to dip them in
import pandas as pd
 
foods = ["French Fries", "Chicken Nuggets", "Celery", "Carrots"]
dipping_sauces = ["BBQ", "Honey Mustard", "Ranch", "Sriracha"]
 
# Create a Series and assign it to the s1 variable below. 
# Assign the foods list as the data source
# and the dipping_sauces list as the Series index 
# For this solution, use positional arguments (i.e. feed in the arguments sequentially)
s1 = pd.Series(foods, dipping_sauces)
 
 
# Create a Series and assign it to the s2 variable below. 
# Assign the dipping_sauces list as the data source
# and the foods list as the Series index 
# For this solution, use keyword arguments (i.e. provide the parameter names
# alongside the arguments)
s2 = pd.Series(data = dipping_sauces, index = foods)

IMPORT SERIES WITH THE pd.read_csv Function

In [57]:
pd.read_csv("C:\Users\User\Downloads\pandas\pokemon.csv")

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (1930869714.py, line 1)